/* color 
gris foncé #838383
gris clair #ad9d9d
rose foncé #d9adad
rose clair #fccbcb

*/
body,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
   color: #838383;
}


/*header*/

.top-container {
  
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  padding-bottom: 10px;

  background-color:#ad9d9d ;
  
  padding-top : 40px;
 
  height: 200px;
  width: 100%;

  box-shadow: 0px 3px 4px #838383;
}

h1 {
 
  font-family: 'Grandstander', cursive;
  font-size: 3rem;
  margin-bottom: 10px;
  color: black;
}



.top-container p {
  margin-left: 5px;
  font-size: 1.5rem;
  margin-top: 10px;
  font-style: italic;
  color: black;
}

img {
  justify-self: flex-end;

  width: 180px;
  margin-right: 3rem;
  
  border-radius: 100%;
  box-shadow: 4px 4px 4px rgb(80, 79, 79);
  border: 4px solid #d17b7b;
  margin-left: 2rem;
}






